= content_for :full_width, true

.hero
  .container
    = @page.content.html_safe

%section
  .container
    %div{ style: 'text-align: center;' }
      %h3 Sign in with&hellip;
    %div
      = link_to "Email", new_user_session_path, class: "big-button"


