defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:

development:
  <<: *defaults
  database: kidzcanzimbabwe_development

test:
  <<: *defaults
  database: kidzcanzimbabwe_test
